<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="./statics/style.css" rel="stylesheet"  type="text/css"/>
	<title>The Beatles</title>
	
</head>
<body>
	<form class="login" action='/' method="POST">
  		<input type="text" placeholder="Email" name="email">
  		<input type="password" placeholder="Password" name="password">
  		<button>Login</button>
	</form>

	<form class="signup" action='/signup' method="POST">
  		<input type="text" placeholder="Username" name="signup_username">
  		<input type="text" placeholder="Email" name="email">
  		<input type="password" placeholder="Password" name="signup_password">
  		<input type="password" placeholder="Repeat Password" name="repeat_password">
  		<button>Signup</button>
	</form>
</body>
</html>